@font-face {
    font-family: 'TwinPeaksFont';
    src: url('../fonts/OPTINational-Gothic.otf') format('opentype');

}

body {
    font-family: 'TwinPeaksFont', sans-serif;
}

.bg-black-lodge {
    background-image: url('../imgs/background-black-lodge.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}


.twin-peaks-logo {

    height: 10vh;
    width: auto;
    min-height: 40px;

}

section,
article,
#personagens {
    scroll-margin-top: 125px;
}

.shadow-red {
    box-shadow: 0 0 32px rgba(255, 0, 0, 0.45);
  }
  